html {
    font-family: AvenirLTPro-Black, sans-serif;
}
@font-face {
    font-family: AvenirLTPro-Black;
    src: url(AvenirLTPro-Black.otf);
  }
  body {
    background-color:white;
  }
  button {
      border: none;
  }
  /*Header*/
.header-discount {
    background-color: #7578e0;
    height: 2.5em;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 1em;
    font-weight: bold;
    letter-spacing: .5px;
}
span:hover {
    text-decoration: underline;
    text-decoration-color: lemonchiffon;
    cursor: pointer;
}

#reel-logo {
    width: 200px;
    float: left;
 }

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding: 20px;
    padding-top: 25px;
    font-size: 22px;
    font-weight: lighter;
    opacity: .75;
}
li a {
    display: block;
    color: #08092e;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    text-decoration-color: brown;
    text-decoration-line: underline;
}
li button { 
    background-color: #08092e;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 20px;

}
li button:hover {
    background-color: teal;
    cursor: pointer;
}

/*End header*/
/*Begin Hero */

div.hero {
    background-image: url('https://cdn.shopify.com/s/files/1/0035/9468/2435/files/hero-desktop-2x_1200x@2x.progressive.jpg?v=1572993627');
    background-size: cover;
    width: 100%;
    height: 600px;
}  
h1 {
    color: teal;
    font-size: 66px;
    margin-bottom: -5px;
}
h2 {
        color: teal;
        font-size: 40px;
}
h3 {
    color: teal;
    font-size: 22px;
    letter-spacing: .5px;
}
.main-text {
    margin-right: 55%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-video a {
    color: tomato;
    white-space: nowrap;
}
.main-video {
    margin-left: 150px;
}
#main-video-play  {
    height: 18px;
}
#video-link:hover {
    text-decoration: none;
}
button {
    background-color: teal;
    color: white;
    font-family: AvenirLTPro-Black;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 30px;
    width: 250px;
    height: 2.5em;
    letter-spacing: 2px;
}
button:hover {
    opacity: 50%;
    cursor: pointer;
}
.start-button {
    position: absolute;
    margin-left: 150px;
}

/*Begin How It Works Section*/

.how-it-works {
    background-color:inherit;
    height: 600px;
}

.how-it-works-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    opacity: 50%;
    color:burly;
    font-size: 18px;
    padding-top: 100px;
    margin-bottom: 100px;
}
.how-it-works p {
    font-size: 16px;
    color: teal;
}
.how-it-works p, .how-it-works h2, .how-it-works h5 {
    text-align: center;
}
.how-it-works img {
    height: 80px;
    padding-left: 130px;
}
#how-it-works-table {
    width: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.get-reel-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
 .get-reel-video a {
   color: lightskyblue;
   font-size: 20px;
 }
 .get-reel-video {
    text-align: center;
    margin-right: 275px;
 }
 /*Begin New Section - Make A Difference*/
 .make-a-difference {
    margin-top: 50px;
    background-color: inherit;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdORO01QBDFZJr0__JHeBt9gYMjGBzRw0xIJDuPGXLs8TegXdi');
    background-repeat: no-repeat;
    background-size: 1600px 500px;
    background-position: center center;
}
 #make-a-difference-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
 }
/*Begin New Section - The Problem */

.the-problem-text {
    margin-left: 55%;
    margin-right: 15%;
    margin-top: 160px;
    text-align: left;

}
#join-reel, #mission-link {
    margin-left: 55%;
    margin-right: 15%;
}
#mission-link:hover {
    opacity: 50%;
    text-decoration: underline;
}
.the-problem {
    margin-top: 50px;
    height: 700px;
}

.the-problem {
  background-image: url(https://cdn.shopify.com/s/files/1/0035/9468/2435/files/toile-2x_470x.jpg?v=1553038084);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 200px;
  background-position-y: 50px;
  background-size: 450px;
}
.the-problem-head-text {
 text-align: center;
}
.the-problem span {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 50%;
    color:burly;
    font-size: 18px;
}

