html {
    font-family: AvenirLTPro-Black, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}
@font-face {
    font-family: AvenirLTPro-Black;
    src: url(AvenirLTPro-Black.otf);
  }
  body {
    background-color:white;
  }
  button {
      border: none;
  }

  #help-button {
      position: fixed;
      bottom: 5px;
      right: 10px;
      text-transform: lowercase;
      z-index: 999;
  }
  /*Header*/

.header-discount {
    background-color: #7578e0;
    height: 2.5em;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding-top: 1em;
    font-weight: bold;
    letter-spacing: 0.03em;

}
span:hover {
    text-decoration: underline;
    text-decoration-color: lemonchiffon;
    cursor: pointer;
}

#reel-logo {
    width: 200px;
    height: 100px;
   }

.nav-bar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.nav-bar li {   
    padding-top: 25px;
    margin-right: 10px;
    font-size: 22px;
    font-weight: lighter;
    opacity: .75;
}
.nav-bar li a {
    display: inline-block;
    color: #08092e;
    text-align: center;
    text-decoration: none;
}
.nav-bar li a:hover {
    text-decoration-color: brown;
    text-decoration-line: underline;
}
.nav-bar li button, #help-button { 
    background-color: #08092e;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
.nav-bar li button:hover {
    background-color: teal;
    cursor: pointer;
}
div .header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

/*End header*/
/*Begin Hero */

.hero {
    background-image: url('https://cdn.shopify.com/s/files/1/0035/9468/2435/files/hero-desktop-2x_1200x@2x.progressive.jpg?v=1572993627');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75px;
    display: flex;

    
}  
.hero-intro {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: left;
    margin-left: 10%;
    padding-top: 75px;
}
h1 {
    color: teal;
    font-size: 66px;
    margin-bottom: -5px;
}
h2 {
    color: teal;
    font-size: 40px;
}
h3 {
    color: teal;
    font-size: 22px;
    letter-spacing: .03em;
}
.main-text {
 max-width:500px;
}
.main-video a {
    color: tomato;
  }
#main-video-play  {
    height: 18px;
}
#video-link:hover {
    text-decoration: none;
}
button {
    background-color: teal;
    color: white;
    font-family: AvenirLTPro-Black;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 30px;
    width: 250px;
    height: 2.5em;
    letter-spacing: 2px;
}
button:hover {
    opacity: 50%;
    cursor: pointer;
}

/*Begin How It Works Section*/

.how-it-works {
    background-color:inherit;
    margin-top: 100px;
    margin-bottom: 180px;
    text-align: center;
}

.how-it-works-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    opacity: 50%;
    color:burly;
    font-size: 18px;
    padding-top: 100px;
}
.three-steps p {
    font-size: 16px;
    color: teal;
}
.three-steps p, .three-steps h2, .three-steps h5 {
    text-align: center;
}
.three-steps img {
    height: 80px;
}
.three-steps {
    width: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.three-steps div {
 text-align: center;
 padding-top: 50px;
 }
.get-reel-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
 .get-reel-video a {
   color: lightskyblue;
   font-size: 20px;
 }
 .get-reel-video {
    text-align: center;
 }
 #get-reel-video {
     margin-left: 0;
 }

 /*Begin New Section - Make A Difference*/
 .make-a-difference {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdORO01QBDFZJr0__JHeBt9gYMjGBzRw0xIJDuPGXLs8TegXdi');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
 #make-a-difference-img {
    position: relative;
    width: 90%;
    height: 90%;
    max-width: 616px;
    max-height: 755px;
    margin-top: -126px;
    margin-bottom: -126px;
   
     }
 #difference-text h2 {
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 60px;
    }
 #difference-text {
    position: absolute;
    max-width: 500px;
    bottom: -50px;
 }
/*Begin New Section - The Problem */

.the-problem-head-text {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
 }
.the-problem-head-text span {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 50%;
    color:burly;
    font-size: 18px;
    cursor: default;
 }
.the-problem {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
.the-problem-image {
   width: auto;
}
.the-problem-info {
   margin-top: 100px;
   width: 400px;
}
#mission-link:hover {
    opacity: 50%;
    text-decoration: underline;
}